<h3 class="d-flex justify-content-center font-weight-bold text-white">Calorie Counting Web Application</h3>
<h5 class="d-flex justify-content-center" style="color: tomato;">Keep track of all the calories you are burning everyday</h5>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a routerLink='category' class="nav-link active rgba-stylish-strong" style="color: tomato;" data-toggle="tab"
            role="tab" aria-controls="home" aria-selected="true">Category</a>
    </li>
    <li class="nav-item" role="presentation">
        <a routerLink='fooditem' class="nav-link rgba-stylish-strong" style="color: tomato;" data-toggle="tab"
            role="tab" aria-controls="profile" aria-selected="false">Fooditem</a>
    </li>
</ul>